<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <br>

    <% if current_user %>
      <div class="panel panel-default items">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Your Rating</th>
                <th>Your Review</th>
                <th></th>
              </tr>
            </thead>

          <% if @user_review %>
            <tbody>
              <th>
                <h4><%= @user_review.rating %></h4>
              </th>
              <th>
                <%= @user_review.description %>
              </th>
              <th>
                 <%= link_to "Delete", "/products/#{params[:id]}/reviews/#{@user_review.id}", class: 'btn btn-sm btn-danger', :method => :delete, data: { confirm: "Are you sure?" } %>
              </th>
          <% else %>
            <%= form_for [@product, @review] do |form| %>
              <tbody>
                <th>
                  <%= form.select :rating, [[1],[2],[3],[4],[5]]%>
                </th>

                <th>
                  <%= form.text_field :description, class: 'form-control' %>
                </th>
                <th>
                  <%= form.hidden_field :product_id, value: params[:id] %>

                  <%= form.submit 'Add Review'%>
                </th>
              <% end %>
            <% end %>
         </tbody>
      </table>
    </div>
  <% end %>
  <br>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User</th>
          <th>Rating</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <% @product.reviews.reverse_each do |item| %>
         <tr>
          <td>
            <%= User.find(item.user_id).first_name %> <%= User.find(item.user_id).last_name %>
          </td>
          <td>
            <h4><%= item.rating %></h4>
          </td>
          <td>
            <%= item.description %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  </article>

</section>
